body {
    display: flex;
    flex-direction: column;
    padding-top: 56px;
    min-height: 75vh;
}

main {
    flex: 1;
}

#carouselExampleIndicators img {
    width: 100%;
    height: calc(75vh - 56px - 50px);
    object-fit: cover;
}

#second-navbar {
    background-color: grey;
    display: flex;
}

#second-navbar a {
    height: 50px;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Lucida Sans' sans-serif;
    font-weight: bold;
}

#second-navbar a:hover {
    background-color: white;
}

.container {
    padding-top: 60px;
    padding-bottom: 30px;
}

#happy-news img {
    width: 100%;
    margin: 15px;
}

footer {
    display: flex;
    justify-content: center;
    background-color: grey;
    height: 100px;
    padding: 20px;
}

footer a {
    margin: 5px;
    text-decoration: none!important;
}

.social-icon {
    display: inline-flex;
    width: 50px;
    height: 50px;
    color: white;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}